ZZ

3) A check on the amplitude computed by the program
   with a comparison with the theoretical  low frequency asymptote
   in the case of a point source seen at the farfield
   check_amplitude.ipynb, check_amplitude.py, check_amplitude.pdf
